[user]
    name = Lou Oberto
    email = louoberto@gmail.com
[alias]
    lg = log --oneline --decorate=short -50
[core]
    excludesfile = ~/.gitignore_global

[includeIf "gitdir:/Users/louoberto/blend/"]
    path = /Users/louoberto/.gitconfig-noaa